:root {
    --c-brand: #ff5050;
    --c-brand-border: rgba(255, 74, 74, 0.5);

    --c-text-primary: #e8e3e3;
    --c-text-secondary: #c1b8b8;
    --c-sep: #5E5E5E;

    --c-bg-body: #221d1d;
    --c-bg-card: rgba(0, 0, 0, .25);
    --c-bg-card-hover: rgba(0, 0, 0, .35)
}