:root {
    --c-brand: #ff917e;
    --c-brand-border: #e78e7c88;

    --c-text-primary: #e8e3e3;
    --c-text-secondary: #c1b8b8;
    --c-sep: #5E5E5E;

    --c-bg-body: #1e1919;
    --c-bg-card: rgba(0, 0, 0, .25);
    --c-bg-card-hover: rgba(0, 0, 0, .35)
}